@import url(reset.css);
body{
    
}
    header{
        background-color: #EEE2C9;
        width: 100%;
    }
        .head{
            max-width: 980px;
            margin: 0 auto;
            height: 420px;
        }
            .logo{
                float: left;
                position: relative;
                top: 40px;
                margin-bottom: 75px;
                background-image: url(../images/logo.png);
                width: 204px;
                height: 64px;
            }
            .image-logo{

                position: relative;
                top: -33px;
                left: 150px;
            }
            .button{
                position: relative;
                top: -453px;
                float: right;
                width: 100px;
                height: 44px;
                background-color: #2ECC71;
                border-radius: 7px;
                text-decoration: none;
                color: #fff;
                display: flex;
                justify-content: flex-end;
                padding-right: 20px; 
                align-items: center;
                font-family: 'Roboto Bold', sans-serif;
                font-size: 18px;
                
            }
                .man{
                    position: relative;
                    top: -4px;
                    left: 3px;
                    width: 6px;
                    height: 6.5px;
                    border: #fff solid 2px;
                    border-radius: 50%;
                    margin-bottom: 2px;
                }
                .man2 {
                    position: relative;
                    top: 7px;
                    right: 6px;
                    width: 12px;
                    height: 12px;
                    border: 2px solid #fff;
                    border-color: transparent transparent #fff #fff;
                    border-radius: 50%;
                    transform: rotate(135deg);
                    margin: 0;
            }
            .head-title{
                position: relative;
                margin-top: -350px;
                font-family: 'Roboto Bold', sans-serif;
                font-size: 48px;
                font-weight: 600;
                line-height: 54px;
                color: #2C3E50;
            }
            .head-subtitle{
                font-family: 'Roboto Light', sans-serif;
                font-size: 18px;
                line-height: 24px;
                color: #2C3E50;
            }
    main{
        max-width: 980px;
        margin: 0 auto;
        
    }
    /*Место для калькулятора*/
        .main-title{
            position: relative;
            left: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 100px 0 0 0;
            font-family: 'Roboto Bold', sans-serif;
            font-size: 40px;
            font-weight: 600;
            line-height: 48px;
            
            color: #2980B9;
        }
        .img-table{
            margin:  25px 60px;
            display: flex;
            justify-content: space-around;
            align-items: center;

        }
        .main-content{
            display: flex;
            padding-bottom: 25px;
            border-bottom: 1px solid #BDC3C7;
        }
            .b-content{
                width: 33.3%;
            }
                .section-title{
                    margin: 25px 0;
                    font-family: Roboto, sans-serif;
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 26.4px;
                    text-align: center;
                    color: #34495E;
                }
                .section-text{
                    margin: 0 20px;
                    text-align: center;
                    font-family: Roboto, sans-serif;
                    font-size: 15px;
                    
                    line-height: 22px;
                    color: #34495E;
                }
    